{% if messages %}
    <div id="message" class="container">
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="success-message">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="16 12 12 18 8 12"></polyline>
                        </svg>
                        <span class="success-text">{{ message }}</span>
                    </div>
                {% else %}
                    {{ message }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
