
<footer class="section-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="text-muted">&copy; 2023 Storage World</p>
            </div>
            <div class="col-md-6 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="mailto:info@worldstorage.com">info@worldstorage.com</a></li>
                    <li class="list-inline-item">+49-176-763-27</li>
                    <li class="list-inline-item">New York street 10, Duesseldorf, Germany</li>
                </ul>
            </div>
            <div class="col-md-3 text-right">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Accessibility</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Service</a></li>
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                </ul>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/yourpage" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/yourpage" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!-- //container -->
</footer>

<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>